<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    add button to logout and action it to /logout
    <button onclick="window.location.href='/logout'">Logout</button>


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Feedback</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in feedback_entries %}
            <tr>
                <td>{{ entry['name'] }}</td>
                <td>{{ entry['feedback'] }}</td>
                <td>{{ entry['timestamp'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
