<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/ppshlatest.png" type="image/icon type">
    <title>Art Integration - Feedback</title>
    <link rel="stylesheet" href="static/css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link href="https://fonts.googleapis.com/css2?family=Bebas%20Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
<body>
  <header class="header-area">
    <div class="container">
      <div class="menu-area">
        <nav>
          <ul>
            <li><a href="/" target="_self">HOME</a></li>
            <li>
              <a href="/#Navigator" target="_self">NAVIGATOR</a>
            </li>
            <li><a href="/credits" target="_self">CREDITS</a></li>
            <li><a href="/feedback" target="_self">FEEDBACK</a></li>
            <li><a href="/compare" target="_self">COMPARE</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="header-content" style="font-family:'Lobster', cursive">
      <h1></h1>
    </div>
</header>


<main>
  <section class="feedback-section">
      <div class="feedback-card">
          <h2 class="feedtext" style="font-family:'Bebas Neue', cursive; font-size: 70px;">Provide Feedback</h2>
          <form action="/submit_feedback" method="post">
              <label for="name">Your Name:</label>
              <input type="text" id="name" name="name" required>
              
              <label for="feedback">Feedback:</label>
              <textarea id="feedback" name="feedback" rows="4" required></textarea>
              
              <button type="submit">Submit Feedback</button>
          </form>
      </div>

      <div class="feedback-text">
          <p>Thank you for exploring our art integration website showcasing the rich heritage of Maharashtra and Sikkim. We've put a lot of effort into curating this content. If you've had a chance to explore it, we'd love to hear your thoughts! Feel free to share your feedback through the form on our website. Your insights will be incredibly valuable in helping us enhance the user experience.</p>
      </div>
  </section>
</main>




<!-- FOTER AREA START -->
<footer class="footer-area">
    <div class="container">
      <div class="text-content">
        <div class="w-80">
          <div class="footer-content">
            <div class="w-60">
              <p class="first-p">
                Overview - Dive into an enriching exploration of Maharashtra and Sikkim, India, with our class 10 art integration project. Uniting tourism, governance, cuisine, and more, our platform offers a holistic view of these states' vibrant cultures. Join us in discovering the captivating blend of art and information that paints a vivid picture of Maharashtra and Sikkim's essence.
              </p>
            </div>

          </div>
        </div>
        <div class="w-20">
          <div class="footer-menus">
            Some Important Links
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/#Navigator">Navigate</a></li>
              <li><a href="/credits">Credits</a></li>
              <li><a href="/compare">Comparison</a></li>
              <li><a href="/feedback">Feedback<a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="logo">
        <a href="#"><img src="static/images/footer-logo.png" alt="Footer Logo" /></a>
      </div>
      <div class="copyright">
        <p>
          &copy; 2023 &dash;
          <a
            href="https://ppshinjewadi.com/"
            target="_blank"
          >
            Pawar Public School, Hinjewadi Class 10A</a
          >&dash; All rights reserved
        </p>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
