<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Integration - Credits</title>
    <link rel="stylesheet" href="static/css/credits.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-area">
        <div class="container">
          <div class="menu-area">
            <nav>
              <ul>
                <li><a href="/" target="_self">HOME</a></li>
                <li>
                  <a href="/#Navigator" target="_self">NAVIGATOR</a>
                </li>
                <li><a href="/credits" target="_self">CREDITS</a></li>
                <li><a href="/feedback" target="_self">CONTACT US</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="header-content" style="font-family:'Lobster', cursive">
          <h1>CREDITS</h1>
        </div>
    </header>
    
        <div class="content-area">
          <section id="Credits" class="credits-section">
              <div class="web-back ">
                  <div class="section-content">
                      <div class="rectangle">
                          <h3>Web Team</h3>
                      </div>
                      <div class="cards-container">
                        <div class="card">
                          <img src="static/images/av-blaz.png" alt="Person 1">
                          <h4>Om Honrao</h4>
                          <p>10 A</p>
                          <div class="social-icons">
                            <a href="https://discordapp.com/users/904280755734196224" target="_blank">
                                <i class="fab fa-discord"></i>
                            </a>
                            <a href="https://github.com/1nv1sibl3" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                      </div>
                      </div>
                  </div>
              </div>
      
              <div class="section-background">
                  <div class="section-content">
                      <div class="rectangle">
                          <h3>Information Team</h3>
                      </div>
                      <div class="cards-container">
                        <div class="card">
                          <img src="static/images/av-blaz.png" alt="Person 2">
                          <h4>Anushree Dixit</h4>
                          <p>10 A</p>
                      </div>
                      <div class="card">
                          <img src="static/images/av-blaz.png" alt="Person 2">
                          <h4>Anvika Mohanty</h4>
                          <p>10 A</p>
                      </div>
                      <div class="card">
                          <img src="static/images/av-blaz.png" alt="Person 2">
                          <h4>Kunjal Shende</h4>
                          <p>10 A</p>
                      </div>
                      <div class="card">
                          <img src="static/images/av-blaz.png" alt="Person 2">
                          <h4>Vaidehi Vyas</h4>
                          <p>Role 4</p>
                      </div>
                      </div>
                  </div>
              </div>
      
              <div class="helpers-sec">
                  <div class="section-content">
                      <div class="rectangle">
                          <h3>Helpers</h3>
                      </div>
                      <div class="cards-container">
                        <div class="card">
                          <img src="static/images/av-blaz.png" alt="Person 3">
                          <h4>Shreyo Talukdar</h4>
                          <p>10 A</p>
                      </div>
                      <div class="card">
                          <img src="static/images/av-blaz.png" alt="Person 2">
                          <h4>Yohaan Patwal</h4>
                          <p>10 A</p>
                      </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
      
        
    <!-- FOTER AREA START -->
    <footer class="footer-area">
        <div class="container">
          <div class="text-content">
            <div class="w-80">
              <div class="footer-content">
                <div class="w-60">
                  <p class="first-p">
                    Overview - Dive into an enriching exploration of Maharashtra and Sikkim, India, with our class 10 art integration project. Uniting tourism, governance, cuisine, and more, our platform offers a holistic view of these states' vibrant cultures. Join us in discovering the captivating blend of art and information that paints a vivid picture of Maharashtra and Sikkim's essence.
                  </p>
                </div>
  
              </div>
            </div>
            <div class="w-20">
              <div class="footer-menus">
                Some Important Links
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/#Navigator">Navigate</a></li>
                  <li><a href="/credits">Credits</a></li>
                  <li><a href="/compare">Comparison</a></li>
                  <li><a href="/feedback">Feedback<a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="logo">
            <a href="#"><img src="static/images/footer-logo.png" alt="Footer Logo" /></a>
          </div>
          <div class="copyright">
            <p>
              &copy; 2023 &dash;
              <a
                href="https://ppshinjewadi.com/"
                target="_blank"
              >
                Pawar Public School, Hinjewadi Class 10A</a
              >&dash; All rights reserved
            </p>
          </div>
        </div>
      </footer>
    </div>
</body>
</html>

