<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/static/images/ppshlatest.png" type="image/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="Art Integration, Maharashtra, Sikkim, Pawar Public School, 10th Grade, Art Integration, Maharashtra and Sikkim"
    />
    <meta name="author" content="Om Honrao" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Art Integration - Home" />
    <meta
      property="og:description"
      content="Embark on a Journey through Maharashtra and Sikkim - A Student's Art Integration Project by 10th Graders of Pawar Public School!"
    />
    <meta property="og:image" content="static/images/ppshlatest.png" />

    <title>Art Integration - Home</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/responsive.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="loading-screen" id="loadingScreen">
      <div class="loading-content">
        <img src="static/images/ppshlatest.png" alt="School Logo" class="loading-logo">
        <img src="static/images/loading.gif" alt="Loading GIF" class="loading-gif">
      </div>
    </div>
    <header class="header-area">
      <div class="container">
        <div class="menu-area">
          <nav>
            <ul>
              <li><a href="/" target="_self">HOME</a></li>
              <li>
                <a href="/#Navigator" target="_self">NAVIGATOR</a>
              </li>
              <li><a href="/credits" target="_self">CREDITS</a></li>
              <li><a href="/feedback" target="_self">CONTACT US</a></li>
            </ul>
          </nav>
        </div>
        <div class="header-content">
          <h1>Art Integration</h1>
          <p>
            Embark on a Journey through Maharashtra and Sikkim - A Student's Art Integration Project by 10th Graders of Pawar Public School!
          </p>
        </div>
        <div class="play-icon">
          <img src="static/images/play-button.png" alt="Play Icon" />
        </div>
        <div class="button">
          <a href="#Navigator">Get Started</a>
        </div>
      </div>
    </header>
    <div class="contend-area">
      <div class="download-section">
        <div class="container">
          <div class="download-content-section">
            <h1>Introduction</h1>
            <p>
              Welcome to our website, a virtual portal that takes you on an 
              enthralling journey through the heart of Maharashtra and Sikkim - 
              two captivating states in India. Embark on an exploration of their 
              diverse cultures, picturesque landscapes, and enthralling histories 
              as we unveil the magic they hold.
            </p>
            <p>
              Maharashtra, situated on the western coast, boasts a dynamic blend 
              of bustling cities, serene beaches, and historical wonders. 
              Meanwhile, Sikkim, nestled in the lap of the Himalayas, captivates
              with its breathtaking scenery and vibrant traditions. From the 
              vibrant festivals of Maharashtra to the tranquil monasteries of 
              Sikkim, our website offers a comprehensive glimpse into the charm 
              and allure of these two enchanting states. Get ready to be enchanted!
            </p>
          </div>
        </div>
      </div>
      <div class="client-review-section">
        <div class="container">
          <div class="carousel">
            <div class="image-container" id="imgs">
              <div class="image-slide">
              <img src="static/images/mover/mh1.jpeg" alt="Slide 1" />
              </div>
              <img src="static/images/mover/sk1.jpeg" alt="Slide 2" />
              <div class="image-slide">
              <img src="static/images/mover/mh3.jpeg" alt="Slide 3" />
              </div>
              <div class="image-slide">
              <img src="static/images/mover/sk3.jpeg" alt="Slide 4" />
              </div>
              <div class="image-slide">
              <img src="static/images/mover/mh2.jpeg" alt="Slide 5" />
              </div>
              <div class="image-slide">
              <img src="static/images/mover/sk2.jpeg" alt="Slide 6" />
              </div>
            </div>

            <!-- Add more slides as needed -->
            <div class="buttons-container">
              <button id="left" class="btn">Prev</button>
              <button id="right" class="btn">Next</button>
            </div>
          </div>
        </div>
      </div>
      

      <section id="Navigator" class="navigator-section">
        <div class="section">
          <div class="left">
            <!-- Image for Maharashtra -->
            <img src="static/images/MH/mahalogo.jpeg" alt="Maharashtra Image" />
          </div>
          <div class="right">
            <div class="link-container">
              <!-- Links for Maharashtra -->
              <a class="cssFont_1" href="/MH/">Etymology</a>
              <a class="cssFont_1" href="/MH/history">History</a>
              <a class="cssFont_1" href="/MH/geography">Geography</a>
              <a class="cssFont_1" href="/MH/governance">Economy, Demographics, Governance and
                Administration</a>
              <a class="cssFont_1" href="/MH/culture">Culture, Language</a>
              <a class="cssFont_1" href="/MH/media">Media</a>
              <a class="cssFont_1" href="/MH/education">Education</a>
              <a class="cssFont_1" href="/MH/cuisine">Cuisine</a>
              <a class="cssFont_1" href="/MH/sports">Sports</a>
              <a class="cssFont_1" href="/MH/tourism">Tourism</a>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="left">
            <!-- Image for Sikkim -->
            <img src="static/images/SK/sikkimhome.jpg" alt="Sikkim Image" />
          </div>
          <div class="right">
            <div class="link-container">
              <!-- Links for Maharashtra -->
              <a class="cssFont_1" href="/SK/">Etymology</a>
              <a class="cssFont_1" href="/SK/history">History</a>
              <a class="cssFont_1" href="/SK/geography">Geography</a>
              <a class="cssFont_1" href="/SK/governance">Economy, Demographics, Governance and
                Administration</a>
              <a class="cssFont_1" href="/SK/culture">Culture, Language</a>
              <a class="cssFont_1" href="/SK/media">Media</a>
              <a class="cssFont_1" href="/SK/education">Education</a>
              <a class="cssFont_1" href="/SK/cuisine">Cuisine</a>
              <a class="cssFont_1" href="/SK/sports">Sports</a>
              <a class="cssFont_1" href="/SK/tourism">Tourism</a>
            </div>
          </div>
        </div>
      </section>

    </div>
  
    <!-- FOTER AREA START -->
    <footer class="footer-area">
      <div class="container">
        <div class="text-content">
          <div class="w-80">
            <div class="footer-content">
              <div class="w-60">
                <p class="first-p">
                  Overview - Dive into an enriching exploration of Maharashtra and Sikkim, India, with our class 10 art integration project. Uniting tourism, governance, cuisine, and more, our platform offers a holistic view of these states' vibrant cultures. Join us in discovering the captivating blend of art and information that paints a vivid picture of Maharashtra and Sikkim's essence.
                </p>
              </div>

            </div>
          </div>
          <div class="w-20">
            <div class="footer-menus">
              Some Important Links
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#Navigator">Navigate</a></li>
                <li><a href="/credits">Credits</a></li>
                <li><a href="/compare">Comparison</a></li>
                <li><a href="/feedback">Feedback<a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo">
          <a href="#"><img src="static/images/footer-logo.png" alt="Footer Logo" /></a>
        </div>
        <div class="copyright">
          <p>
            &copy; 2023 &dash;
            <a
              href="https://ppshinjewadi.com/"
              target="_blank"
            >
              Pawar Public School, Hinjewadi Class 10A</a
            >&dash; All rights reserved
          </p>
        </div>
      </div>
    </footer>
    <script src="static/js/main.js"></script>

    <script>
      setTimeout(function() {
        document.getElementById('loadingScreen').style.display = 'none';
        document.getElementById('mainContent').style.display = 'block';
      }, 4000); // 4000 milliseconds = 4 seconds
    </script>

    
  </body>
  
</html>
