<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Art Integration - Home</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/responsive.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="header-area">
      <div class="container">
        <div class="menu-area">
          <nav>
            <ul>
              <li><a href="#" target="_self">HOME</a></li>
              <li>
                <a href="#" target="_self">SERVICES</a>
                <ul>
                  <li><a href="#" target="_self">Get Started Tutorial</a></li>
                  <li><a href="#" target="_self">Introduction Video</a></li>
                  <li><a href="#" target="_self">See the Features</a></li>
                  <li><a href="#" target="_self">Download a Trial</a></li>
                  <li><a href="#" target="_self">Get in Touch!</a></li>
                </ul>
              </li>
              <li><a href="#" target="_self">ABOUT US</a></li>
              <li><a href="#" target="_self">CONTACT US</a></li>
            </ul>
          </nav>
        </div>
        <div class="header-content">
          <h1>Art Integration</h1>
          <p>
            Embark on a Journey through Maharashtra and Sikkim - A Student's Art Integration Project by 10th Graders of Pawar Public School!
          </p>
        </div>
        <div class="play-icon">
          <img src="static/images/play-button.png" alt="Play Icon" />
        </div>
        <div class="button">
          <a href="#Navigator">Get Started</a>
        </div>
      </div>
    </header>
    <div class="contend-area">
      <div class="download-section">
        <div class="container">
          <div class="download-content-section">
            <h1>Introduction</h1>
            <p>
              Welcome to our website, a virtual portal that takes you on an 
              enthralling journey through the heart of Maharashtra and Sikkim - 
              two captivating states in India. Embark on an exploration of their 
              diverse cultures, picturesque landscapes, and enthralling histories 
              as we unveil the magic they hold.
            </p>
            <p>
              Maharashtra, situated on the western coast, boasts a dynamic blend 
              of bustling cities, serene beaches, and historical wonders. 
              Meanwhile, Sikkim, nestled in the lap of the Himalayas, captivates
              with its breathtaking scenery and vibrant traditions. From the 
              vibrant festivals of Maharashtra to the tranquil monasteries of 
              Sikkim, our website offers a comprehensive glimpse into the charm 
              and allure of these two enchanting states. Get ready to be enchanted!
            </p>
          </div>
        </div>
      </div>
      <div class="client-review-section">
        <div class="container">
          <div class="client-image">
            <img src="static/images/av-blaz.png" alt="Client image" />
          </div>
          <div class="client-review">
            <h1>
              I couldnt possibly use my own eyes to look at the stars, thansk
              Starnught App.
            </h1>
          </div>
          <div class="more-review">
            <img src="static/images/round-fillup.png" alt="Round Icon" />
            <img src="static/images/round.png" alt="Round Icon" />
            <img src="static/images/round.png" alt="Round Icon" />
          </div>
        </div>
      </div>
      <section id="Navigator" class="navigator-section">
        <div class="container">
          <div class="section">
            <div class="left">
              <img src="static/images/MH/mahalogo.jpeg" alt="Maharashtra" />
            </div>
            <div class="right">
              <div class="link-container maharashtra">
                <a class="link" href="#">MH Link 1</a>
                <a class="link" href="#">MH Link 2</a>
                <a class="link" href="#">MH Link 3</a>
                <a class="link" href="#">MH Link 4</a>
                <a class="link" href="#">MH Link 5</a>
                <a class="link" href="#">MH Link 6</a>
                <a class="link" href="#">MH Link 7</a>
                <a class="link" href="#">MH Link 8</a>
                <a class="link" href="#">MH Link 9</a>

                <!-- Add other Maharashtra links here -->
              </div>
            </div>
          </div>
          <div class="section">
            <div class="right">
              <img src="static/images/SK/sikkimhome.jpg" alt="Sikkim" />
            </div>
            <div class="left">
              <div class="link-container sikkim">
                <a class="link" href="#">SK Link 1</a>
                <a class="link" href="#">SK Link 2</a>
                <a class="link" href="#">SK Link 3</a>
                <a class="link" href="#">SK Link 4</a>
                <a class="link" href="#">SK Link 5</a>
                <a class="link" href="#">SK Link 6</a>
                <a class="link" href="#">SK Link 7</a>
                <a class="link" href="#">SK Link 8</a>
                <a class="link" href="#">SK Link 9</a>
                
                <!-- Add other Sikkim links here -->
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      
      
      
      <div class="color-content">
        <div class="container">
          <div class="main-content">
            <div class="w-30 spes">
              <div class="first-color"></div>
              <div class="color-title">
                <h6>EXTRA STARTUP JUICE</h6>
                <p>Added Feature</p>
              </div>
            </div>
            <div class="w-30 spes">
              <div class="second-color"></div>
              <div class="color-title">
                <h6>SO THIRSTY</h6>
                <p>Extra nice UI comes with the app</p>
              </div>
            </div>
            <div class="w-30">
              <div class="some-text">
                <h1>So flat you'll want to give it some shadows</h1>
                <p>
                  Minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
          <div class="slider-button">
            <div class="img-wraper">
              <img
                src="static/images/left-greater-than-sign-.png"
                alt="Graterthan Sign"
              />
              <img
                src="static/images/right-greater-than-sign.png"
                alt="Graterthan Sign"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- FOTER AREA START -->
    <footer class="footer-area">
      <div class="container">
        <div class="text-content">
          <div class="w-80">
            <div class="footer-content">
              <div class="w-60">
                <p class="first-p">
                  Overview - TO BE ADDED
                </p>
              </div>
              <div class="w-40 spes">
                <p class="second-p">
                  IMP LINKS - TO BE ADDED
                </p>
              </div>
            </div>
          </div>
          <div class="w-20">
            <div class="footer-menus">
              <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5<a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo">
          <a href="#"><img src="static/images/footer-logo.png" alt="Footer Logo" /></a>
        </div>
        <div class="copyright">
          <p>
            &copy; 2023 &dash;
            <a
              href="https://ppshinjewadi.com/"
              target="_blank"
            >
              Pawar Public School, Hinjewadi Class 10A</a
            >&dash; All rights reserved
          </p>
        </div>
      </div>
    </footer>

    
  </body>
  
</html>
